@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div,
header,
main, 
footer{
    width: 100%;
}

h1,
h2,
h3,
p,
a,
button,
span {
    font-family: 'Roboto', serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, 
main,
footer {
    padding: 0 400px;
}

.header {
    padding-top: 20px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1f2937;

    & .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .logo {
            flex: 0 0 140px;
            font-size: 24px;
            font-weight: 700;
            color: #f9faf8;
        }

        .nav-container {
            flex: 0 0 400px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .link {
                list-style: none;

                & a {
    
                    font-size: 18px;
                    color: #e5e7eb;
                    text-decoration: none;
                }
            }
        }
    }

    & .hero-content {
        flex: 1;
        height: 200px;
        display: flex;
        align-items: center;
        gap: 30px;

        & .hero-left { 
            flex: 1 0 350px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            & .hero-title {
                font-size: 48px;
                font-weight: 900;
                color: #f9faf8;
            }
    
            & .hero-text {
                max-width: 85%;
                font-size: 18px;
                color: #e5e7eb;
            }
    
            & .hero-btn {
                width: 100px;
                height: 30px;
                background-color: #3882f6;
                font-size: 18px;
                font-weight: 700;
                color: #e5e7eb;
                border: none;
                border-radius: 8px;
            }
        }

        & .hero-right {
            flex: 1 0 350px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: grey;

            & p {
                color: #e5e7eb;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .top-section {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .top-section-title {
            margin-top: 30px;
            font-size: 36px;
            font-weight: 900;
            color: #1f2937;
        }

        & .top-section-cards {
            flex: 1;
            max-width: 800px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .card {
                width: 150px;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & .card-img {
                    width: 100%;
                    height: 130px;
                    border: 5px solid #3882f6;
                    border-radius: 8px;
                }

                & .card-text {
                    width: 95%;
                    opacity: 0.6;
                }
            }
        }

    }
}